.home-right{
    height: 100%;
  }

  .home-right-main{
    height: 100%;
  }

  .home-right-main-img{
      height: 65vh;
      margin: auto;    
      display: block;
  }

  .home-right-footer{
     width: 100%;
     margin-bottom: 25px;
    
  }

 .nav {
   display: flex;
   justify-content: center;
 }

  .nav-link {
    color: white;
    cursor: pointer
  }

  .nav-link:hover {
    color: #16fa01;
  }